#gameSettings, #algorithmsAndScore, #gameStatisitcs, #hereTable {
    float:left;
}
#here_table,#control_buttons{
    clear: left;
}
#algorithmsAndScore{
    width: 700px;
}
#algorithmsAndScore div{
    background: rgb(182, 182, 182);
    float:left;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}
#gameSettings>*,#gameStatisitcs>*{
    margin-bottom:10px; 
    width: 100px; 
    display: table;
}
#gameSettings{
    width: 140px; 
}
#firstAlgorithm {
    width: 40%;
}
#secondAlgorithm {
    width: 40%;
}
#score {
    width: 20%;
}
#hereTable {
    position: relative;
    width: 50%;
    clear: left;
}
#firstAlgorithmName,#secondAlgorithmName{
        text-decoration: underline;
}
#hereTable{
    width: 700px;
    height: 700px; 
}
table{  
    width: 700px;
    height: 700px;   
}