body {
    text-align: center; 
    }
#algorithmsAndScore div {
    background: rgb(182, 182, 182);
    display: inline-block;
}
#firstAlgorithm {
    width: 300px;
}
#secondAlgorithm {
    width: 300px;
}
#score {
    width: 100px;
}
#here_table {
    height: 711px;
    width: 711px;
    margin: auto;
}