body {
    text-align: center; 
    }
table {
    margin: auto;
}
#algorithmsAndScore div {
    background: rgb(182, 182, 182);
    display: inline-block;
}
#firstAlgorithm {
    width: 300px;
}
#secondAlgorithm {
    width: 300px;
}
#score {
    width: 100px;
}
#here_table {
    height: 500px;
    width: 500px;
}